/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */
header,
footer {
    color: #fff;
}

ul {
    display: flex;
    gap: 10px;
    padding-inline-start: 0;
    list-style-type: none;
}

/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.border {
    border: 1px solid black;
}

/* Cambio immagine */

.main-image {
    display: block;
}

.card:hover .main-image {
    display: none;
}

.layover {
    display: none;
}

.card:hover .layover {
    display: block;
}


/* HEADER */
header {
    background-color: #ff6900;
    /* max-height: 80px; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 1px 2px gray;
    z-index: 1;
}

.navbar {
    font-weight: bold;
    font-size: 14px;
    height: 60px;
    display: flex;
    align-items: center;
}

.navbar>* {
    flex-basis: 20%;
}

/* Navbar-menu */
/* .navbar-menu>ul {
    display: flex;
    gap: 10px;
    padding-inline-start: 0;
    list-style-type: none;
} */

a {
    color: #fff;
    text-decoration: none;
}

/* Navbar-logo */
.navbar-logo {
    flex-grow: 1;
    justify-content: center;
}

div.navbar-logo>img {
    height: 25px;
    width: auto;
}


/* Navbar-actions */
.navbar-actions {
    text-align: right;
}

.navbar-actions a {
    margin-left: 5px;
}

/* MAIN */

main {
    margin-top: 100px;
}

.col {
    /* flex-basis: calc(100% / 3 - 10px); */
    flex-basis: calc(100% / 3 - 20px / 3);
}

.card {
    height: 500px;
    /*  width: 350px; */
    position: relative;
    /* margin-right: 50px;*/
    margin-bottom: 80px;
}

.card>img {
    height: 100%;
    width: 100%;
}

.prod-info>.discount {
    position: absolute;
    bottom: 20px;
    left: 0;
    color: #fff;
    background-color: #ff0000;
    padding: 3px 7px;
}

.prod-info>.sustain {
    position: absolute;
    bottom: 20px;
    left: 60px;
    color: #fff;
    background-color: #008000;
    padding: 3px 7px;
}

#special {
    position: absolute;
    bottom: 20px;
    left: 0;
}

/* Cuore */
.card>.favorite {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 5px;
    right: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card>.favorite:hover {
    color: red;
}

/* Descrizione prodotto */
.brand {
    font-size: 14px;
    font-weight: lighter;
}

.product {
    font-size: 18px;
    font-weight: bold;
}

.discount-price {
    color: #ff0000;
    font-weight: bold;
    margin-right: 5px;
}

.full-price {
    text-decoration: line-through;
}

/* FOOTER */

footer {
    background-color: #1a1a1a;
    /* height: 100px; */
    padding: 20px;
}

h2 {
    font-size: 18px;
}

h3,
.boolean-info>ul {
    font-size: 12px;
    margin-bottom: 5px;

}

footer>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}